<%- include ('partials/head.ejs', {title: 'Index'}) %>

<body>
  <div class="row">
    <div class="col-sm-1 center">
      <form method="POST" action="/upload" enctype="multipart/form-data">
        <input type="file" id="uploadFile" name="uploaded" onchange="form.submit()" hidden>
        <label for="uploadFile">Select file</label>
      </form>
    </div>
    <div class="col-sm-5">
      <table class="table">
        <thead>
          <% if (data.length === 0) { %>
          <tr>
            <th>No file uploaded </th>
          </tr>
          <% } else { %>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Size</th>
            <th scope="col">SHA1</th>
          </tr>
        </thead>
        <% for (var i=data.length-1; i>= 0; --i) { %>
        <tbody>
          <tr>
            <td><%= data[i].name %></td>
            <td><%= data[i].size %></td>
            <td class="sha1"><%= data[i].sha1 %></td>
          </tr>
        </tbody>
        <% }} %>
      </table>
    </div>
    <div class="col-sm-5">SM5</div>
  </div class="row">
</body>