<%- include ('partials/head.ejs', {title: 'Index'}) %>

<body>
  <div class="row">
    <div class="col-sm-3 offset-sm-1">
      <form method="POST" action="/upload" enctype="multipart/form-data">
        <input type="file" id="uploadFile" name="file" onchange="form.submit()" hidden>
        <label for="uploadFile">Select file</label>
      </form>
    </div>
    <div class="col-sm-7">
      <ul>
        <% if (typeof(dataArray)=="undefined" || !!dataArray) { %>
        <li>No image uploaded</li>
        <%} else {
            for (var data in dataArray) {%>
        <li><%=data%>:<%=dataArray[data]%></li>
        <%} 
        }%>
      </ul>
    </div>
  </div class="row">
</body>